<script type="module" src="/js/base.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<footer
    class="text-black d-flex footer ps-3 border border-start-0 border-end-0 border-bottom-0 align-items-center justify-content-between">
    <div class="d-flex flex-row gap-2 align-items-center">
        <a class="btn btn-outline-info nav-link p-2" href="">Contact Us </a>
    </div>
    <div class="bg-info">
        <span>&copy reserved to Kopil Kaiser & Haider Asif - 2004</span>
    </div>
</footer>
</body>

</html>