<script type="module" src="/js/base.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<footer class="footer ps-3 bg-dark"> <span>&copy reserved to Kopil Kaiser & Haider Asif - 2004</span></footer>
</body>
</html>
