<%- include('./layouts/header.ejs') %>
<main>
  <div class="container mt-2">
    <h1>The Home page for our app</h1>
  </div>
   <!-- #region form-example to capture user data -->
   <div class="container py-2">
    <form class="row" action="/" method="post">

      <div class="row py-2 border-0 mx-auto">
        <label class="ps-1 col-sm-12 col-md-2 text-lg-center text-md-start py-md-1 my-0" for="name_field">Name</label>
        <input class="col-md col-lg-6 ps-1 mt-md-0 mt-sm-2" type="text" name="name_field" id="name_field">
      </div>

      <div class="row py-2 mx-auto">
        <label class="ps-1 col-sm-12 col-md-2 text-lg-center text-md-start" for="age_field">Age</label>
        <input class="col-md col-lg-6 ps-1 mt-md-0 mt-sm-2" type="number" max="100" name="age_field" id="age_field">
      </div>

      <div class="row py-2 border-0 mx-auto">
        <label class="ps-1 col-sm-12 col-md-2 text-lg-center text-md-start" for="occupation_field">Occupation</label>
        <input class="col-md col-lg-6 ps-1 mt-md-0 mt-sm-2" type="text" name="occupation_field" id="occupation_field">
      </div>

      <div class="row border-0 py-2 mx-auto">
        <label class="ps-1 col-sm-12 col-md-2 text-lg-center text-md-start" for="salary_field">Salary</label>
        <input class="col-md col-lg-6 ps-1 mt-md-0 mt-sm-2" type="number" step="any" max="99999" name="salary_field"
          id="salary_field">
      </div>

      <div class="row border-0 py-2 mx-auto">
        <span class="col-2 d-none d-lg-inline-block"></span>
        <div class="col-lg-6 pe-0 ps-0 d-flex"><button class="btn btn-sm btn-primary w-auto ms-auto ms-lg-0" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <!-- #endregion  -->
</main>

<%- include('./layouts/footer.ejs') %>