<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">
</head>

<body class="bg-light d-flex align-items-center vh-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow">
          <div class="card-body p-5 rounded">
            <h3 class="mb-5 text-center">Register</h3>
            <form action="/register" method="POST" enctype="multipart/form-data">
              <div class="form-floating mb-4">
                <input type="text" class="form-control" id="nameInput" name="name" placeholder="Name" required>
                <label for="nameInput">Name</label>
              </div>

              <div class="form-floating mb-4">
                <input type="email" class="form-control" id="emailInput" name="email" placeholder="Email" required>
                <label for="emailInput">Email</label>
              </div>

              <div class="form-floating mb-4">
                <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Password"
                  required>
                <label for="passwordInput">Password</label>
              </div>

              <div class="mb-4">
                <label for="skillsInput">Skills</label>
                <select class="form-control select2-multiple" id="skillsInput" name="skills[]" multiple required>
                  <option value="JavaScript">JavaScript</option>
                  <option value="Python">Python</option>
                  <option value="Java">Java</option>
                  <option value="C#">C#</option>
                  <option value="PHP">PHP</option>
                  <!-- Add other skills as necessary -->
                </select>
              </div>

              <div class="form-floating mb-4">
                <input type="text" class="form-control" id="jobtitle" name="jobtitle" placeholder="job Title" required>
                <label for="jobtitleInput">Job Title</label>
              </div>

              <div class="mb-4">
                <label class="pb-1" for="cvInput">Upload CV</label>
                <input type="file" class="form-control" id="cvInput" name="cv" required>
              </div>

              <div class="d-grid gap-2 col-4 mx-auto">
                <button type="submit" class="btn btn btn-outline-dark btn-md mb-4">REGISTER</button>
              </div>

              <p class="text-center">Already have an account? <a href="/login">Login</a></p>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
  $(document).ready(function() {
    console.log("Document ready!")
    $('.select2-multiple').select2({
      placeholder: "Select skills", // This adds a placeholder
      allowClear: true // This option allows users to remove selections
    });
  });
</script>
</body>

</html>